{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/machine.jpg" "title" "Superior web site creation" "subtitle" "Modern web development tools for a better user experience") }}

{{ partial "short-text" (dict "heading" "Why Paraweb?" "text" "We believe that a site's performance and security is just as important as its look. We don't use legacy software stacks unless absolutely necessary. If you choose to develop your site with Paraweb you will get better results, guaranteed.")}}

{{ partial "text-and-image" (dict "heading" "Things to ask a company before signing up for a project with them" "text" "Don't get caught out by back room specialists - before you sign up with a web development company, ask these questions and perform these basic tests..." "buttonText" "Read more" "buttonLink" "/about") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
